pytest==8.3.4
mlflow==2.18.0
pandas==2.2.2
scikit-learn==1.5.1
matplotlib==3.7.3
azure-ai-ml==1.12.1
fsspec
seaborn
#azure-cli
#Please check the versions of older python before using this include like this pandas~=1.4
#az ml job create --file job.yaml --resource-group har_resource_group --workspace-name har_workspace
#py -m pip
#az extension add --name ml
#az extension update --name ml
#git config --global user.email "you@example.com"
#git config --global user.name "Your Name"
